* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "The Mix Black";
	src: url("./fonts/TheMixBlack-Caps.woff2");
	src: url("./fonts/TheMixBlack-Caps.woff2") format("woff"), url("./fonts/TheMixBlack-Caps.woff2") format("opentype"),
		url("./fonts/TheMixBlack-Caps.woff2") format("svg");
}

@font-face {
	font-family: "The Mix Semibold";
	src: url("./fonts/TheMixSemiBold-Plain.woff2");
	src: url("./fonts/TheMixSemiBold-Plain.woff2") format("woff"),
		url("./fonts/TheMixSemiBold-Plain.woff2") format("opentype"),
		url("./fonts/TheMixSemiBold-Plain.woff2") format("svg");
}
/*Hero*/
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/slide2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.header > img {
	width: 75px;
	margin-top: 2vh;
	margin-left: 6vw;
}

.nav-bar {
	display: flex;
	list-style-type: none;
	font-size: 0.9rem;
	color: white;
	line-height: 1.5;
	gap: 2vw;
	padding-top: 2vh;
	align-items: center;
	font-family: 'The Mix Semibold';
	flex-shrink: 1;
	margin-right: 6vw;
}

.nav-bar > button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0078be;
	color: white;
	border: none;
	font-family: 'The Mix Semibold';
	border-radius: 23px;
	height: 45px;
	width: 90px;
}

.hero > h1 {
	font-size: clamp(30px, 3vw, 50px);
	margin-left: auto;
	margin-right: auto;
	font-family: 'The Mix Black';
	margin-top: 13vw;
	text-align: center;
	color: white;
	width: 70vw;
	text-transform: uppercase;
	padding-bottom: 18.5vw;
}
/*Hero*/

/*Foundations*/
.foundations {
	display: flex;
	flex-direction: column;
	background-color: #f1f1f1;
	width: 100%;
	min-height: 45vw;
	height: fit-content;
}

.foundations > h1 {
	font-family: 'The Mix Black';
	line-height: 1.25;
	color: #212121;
	text-align: center;
	font-size: 2vw;
	padding-top: 2.5vw;
	margin-bottom: 3vw;
}

.foundation-elements {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.element {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 17.5vw;
	min-height: 33vw;
	text-align: center;
	border-radius: 6px;
	height: fit-content;
	padding-bottom: 2vw;
}

.element-img1 {
	margin-left: auto;
	margin-right: auto;
	width: 64%;
	padding: 22px 5px 14px 5px;
}

.element-img2 {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	padding: 17px 5px 14px 5px;
}

.element-img3 {
	margin-left: auto;
	margin-right: auto;
	width: 36%;
	padding: 14px 5px 14px 5px;
}

.element-img4 {
	margin-left: auto;
	margin-right: auto;
	width: 42%;
	padding: 14px 5px 14px 5px;
}

.element-img5 {
	margin-left: auto;
	margin-right: auto;
	width: 56%;
	padding: 14px 5px 14px 5px;
}

.element > h2 {
	font-family: 'The Mix Black';
	font-size: 1.3vw;
	padding-bottom: 1vw;
}

.element > p {
	font-family: 'The Mix Semibold';
	font-size: 1.3vw;
	align-items: center;
	padding: 0 30px;
	color: #646464;
	height: 100%;
}
/*Foundations*/

/*Explore*/
.explore {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/parallax-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.explore > h1 {
	font-family: 'The Mix Black';
	line-height: 1.25;
	color: white;
	text-align: center;
	font-size: 2vw;
	padding-top: 2.5vw;
	margin-bottom: 3vw;
}

.explore > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 4vw;
	padding-bottom: 3vw;
}
/*Explore*/

/*Join*/
.join {
	width: 100%;
}

.join > h1 {
	font-family: 'The Mix Black';
	line-height: 1.25;
	color: black;
	text-align: center;
	font-size: 2vw;
	padding-top: 2.5vw;
	margin-bottom: 3vw;
}

.join-elements {
	display: flex;
	width: 100%;
	gap: 1vw;
	height: 44vw;
}

.join-elements > img {
	display: block;
	width: 32vw;
	height: 27vw;
	padding-right: 1vw;
}

.box {
	background: url(./images/bg-icon.png);
	width: 15vw;
	align-items: center;
	margin-left: 0.6vw;
	border-radius: 8px;
	height: 40vw;
}

.box > h2 {
	font-size: 22px;
	font-family: 'The Mix Black';
	padding-left: 3vw;
	padding-top: 3vw;
	padding-right: 3vw;
	padding-bottom: 1vw;
}

.box > ul {
	font-size: 16px;
	padding: 0 4vw;
	font-family: 'The Mix Semibold';
	color: #646464;
}

.box > button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'The Mix Semibold';
	background-color: #0078be;
	color: white;
	border: none;
	border-radius: 25px;
	font-size: 15px;
	height: 45px;
	width: 145px;
	margin-left: 4vw;
	margin-top: 3vw;
}

.join > p {
	float: right;
	font-size: 16px;
	font-family: 'The Mix Black';
	margin-top: 0.6vw;
	color: #646464;
	margin-bottom: 0.6vw;
}

.store {
	display: flex;
	justify-content: end;
	width: 100%;
	padding-bottom: 3vw;
}

.store > img {
	width: 9.5vw;
	padding-right: 1vw;
}
/*Join*/

/*Hub*/
.hub {
	background: url(./images/parallax-light.jpg);
	width: 100%;
}

.hub > h1 {
	font-family: 'The Mix Black';
	line-height: 1.25;
	color: #212121;
	text-align: center;
	font-size: 2vw;
	padding-top: 2.5vw;
	margin-bottom: 3vw;
}

.hub-elements {
	display: flex;
	gap: 7vw;
	justify-content: center;
	width: 100%;
	height: 20vw;
}

.hub-elements-pack {
	width: 12vw;
	text-align: center;
	font-family: 'The Mix Black';
}

.hub-elements-pack > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.hub-elements-pack > h2 {
	font-size: 33px;
}

.hub-elements-pack > p {
	color: #333;
}
/*Hub*/

/*Trending*/
.trending {
	background: linear-gradient(rgba(205, 205, 205, 0.5), rgba(206, 206, 206, 0.5)), url("./images/bg-icon-empty.png");
	width: 100%;
	height: 45vw;
}

.trending > h1 {
	font-family: 'The Mix Black';
	line-height: 1.25;
	color: #212121;
	text-align: center;
	font-size: 2vw;
	padding-top: 2.5vw;
	margin-bottom: 3vw;
}

.trending-items {
	display: flex;
	gap: 2vw;
	justify-content: center;
	width: 100%;
	height: 25vw;
}

.trending-pack {
	width: 22vw;
	background-color: white;
	height: 30vw;
}

.trending-pack > img {
	width: 100%;
}

.trending-pack > h2 {
	font-family: 'The Mix Black';
	font-size: 20px;
	padding: 2vw 1.3vw;
}

.trending-pack > p {
	position: relative;
	bottom: 20px;
	font-size: 15px;
	font-family: 'The Mix Semibold';
	padding: 0 1.3vw;
}

.trending > button {
	display: block;
	position: relative;
	top: 100px;
	margin: 0 auto;
	font-family: 'The Mix Semibold';
	background-color: #0078be;
	color: white;
	border: none;
	border-radius: 25px;
	font-size: 15px;
	height: 45px;
	width: 180px;
}
/*Trending*/

/*Academy*/
.academy {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/parallax-7.jpg);
	width: 100%;
	height: 24vw;
	padding-top: 3vw;
}

.academy-elements {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 3vw;
}

.academy-pack1 {
	width: 27vw;
}

.academy-pack1 > img {
	width: 6vw;
	padding-bottom: 1vw;
}

.academy-pack1 > p {
	font-size: 18px;
	font-family: 'The Mix Semibold';
	color: white;
}

.academy-pack {
	width: 11vw;
	text-align: center;
}

.academy-pack > img {
	display: block;
	width: 6vw;
	padding-bottom: 1vw;
	margin: 0 auto;
}

.academy-pack > h1 {
	font-size: 18px;
	font-family: 'The Mix Black';
	color: white;
}

.academy > button {
	display: block;
	margin: 0 auto;
	font-family: 'The Mix Semibold';
	background-color: #0078be;
	color: white;
	border: none;
	border-radius: 25px;
	font-size: 15px;
	height: 45px;
	width: 300px;
	margin-top: 2vw;
	text-transform: uppercase;
}
/*Academy*/

/*Words*/
.words {
	background: url(./images/bg-icon-reverse.png);
	width: 100%;
	height: 23vw;
}

.words-elements {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 3vw;
	padding-top: 4vw;
}

.words-elements > h1 {
	font-family: 'The Mix Black';
	line-height: 1.25;
	color: #212121;
	font-size: 2vw;
	margin-right: 2vw;
	margin-bottom: 3vw;
	width: 20vw;
}
.words-pack {
	display: block;
	width: 21vw;
	height: 12vw;
	border: 1px rgb(207, 207, 207) solid;
	border-radius: 7px;
}

.words-pack > img {
	display: block;
	width: 8vw;
	height: 8vw;
	padding-left: 2vw;
	padding-top: 2vw;
}

.words-pack > h2 {
	font-family: 'The Mix Black';
	font-size: 20px;
	padding-left: 2vw;
	padding-top: 1vw;
	padding-bottom: 2vw;
}
/*Words*/

/*Footer*/
.footer {
	background-color: #212121;
	width: 100%;
	height: 33vw;
}

.footer-elements {
	display: flex;
	gap: 3vw;
	padding-top: 3vw;
	margin-left: 15vw;
}

.fe-1 {
	width: 15vw;
}

.fe-1 > h2 {
	font-size: 20px;
	font-family: 'The Mix Black';
	color: #9e9e9e;
	padding-bottom: 1vw;
}

.fe-1 > h3 {
	font-size: 18px;
	font-family: 'The Mix Black';
	color: #494949;
	padding-bottom: 1vw;
}

.fe-1 > ul {
	color: white;
	font-family: 'The Mix Semibold';
	font-size: 17px;
	list-style-type: none;
	padding-left: 1.5vw;
}

.fe-2 {
	width: 19vw;
	padding-top: 3vw;
}

.fe-2 > h3 {
	font-size: 18px;
	font-family: 'The Mix Black';
	color: #494949;
	padding-bottom: 1vw;
}

.fe-2 > ul {
	color: white;
	font-family: 'The Mix Semibold';
	font-size: 17px;
	list-style-type: none;
	padding-left: 1.5vw;
}

/*Footer*/
